{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}
{% block head %}
<title>{{sysSettings.siteName}} - Search</title>

{% endblock %}

{% block body %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Search</b></div>
    </div>
</div>

{% if streamerList != [] %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-live-title"><b>Streamers</b></div>
    </div>
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% for streamer in streamerList %}
                <div class="streamerCard py-1 pr-2">
                    <a href="/streamers/{{streamer.id}}/">
                    <img class="shadow lazy zoom" src="/images/{{streamer.pictureLocation}}" onerror="this.src='/static/img/user2.png';">
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{streamer.username}}</b></div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if topicList != [] %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-live-title"><b>Topics</b></div>
    </div>
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% for topic in topicList %}
                <div class="displayCard py-1 pr-2">
                    <a href="/topic/{{topic.id}}/">
                    <img class="shadow lazy zoom" src="/images/{{topic.iconClass}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{topic.name}}</b></div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if streamList != [] %}
<div class="row m-2">
    <div class="index-live-title"><b>Channels</b></div>
</div>
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% for stream in streamList %}
            <div class="displayCard py-1 pr-2">
                <a href="/view/{{stream.channel.channelLoc}}/">
                    <div>
                        <img class="shadow lazy zoom" {% if stream.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                            onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="/stream-thumb/{{stream.channel.channelLoc}}.png">
                    </div>
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{stream.streamName|limit_title}}</b></div>
                        <i class="fas fa-video mr-2"></i> {{stream.channel.channelName}}<br>
                        <i class="fas fa-hashtag mr-2"></i> {{stream.topic|get_topicName}}<br>
                        <span class="badge badge-danger"><i class="fas fa-video"></i> Live</span> {% if stream.channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                        <span class="displayCard-footer pt-2">
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{stream.id|get_Stream_Upvotes}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-eye"></i> {{stream.currentViewers}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{stream.totalViewers}}</span>
                        </span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if channelList != [] %}
<div class="container-fluid p-2" id="index-live-container">
    <div class="row m-2">
        <div class="index-live-title"><b>Channels</b></div>
    </div>

    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-start">
                {% for channel in channelList %}
                <div class="displayCard py-1 pr-1">
                    <a href="/channel/{{channel.id}}/">
                        <img class="shadow lazy zoom" src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                        <div class="card-data">
                            <div class="card-cut-text"><b>{{channel.channelName}}</b></div>
                            {{channel.topic|get_topicName}}<br>
                            <b> {{channel.owningUser|get_userName}}</b><br>
                            {% if channel.stream|length > 0 %}
                            <span class="badge badge-danger"><i class="fas fa-video"></i> Live</span>
                            {% else %}
                            <span class="badge badge-secondary"><i class="fas fa-video-slash"></i> Offline</span>
                            {% endif %}
                            {% if channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                            <span class="displayCard-footer">
                                <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{channel.views}}</span>
                            </span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if videoList != [] %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Videos</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-start">
                {% for video in videoList %}
                <div class="displayCard py-1 pr-1">
                    <a href="/play/{{video.id}}">
                        <div>
                            <img class="shadow lazy zoom" {% if video.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                                onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="/videos/{{video.thumbnailLocation}}">
                        </div>
                        <div class="card-data">
                            <div class="card-cut-text"><b>{{video.channelName|limit_title}}</b></div>
                            <i class="fas fa-video mr-2"></i> {{video.channel.channelName}}<br>
                            <i class="fas fa-hashtag mr-2"></i> {{video.topic|get_topicName}}<br>
                            {% if video.channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                            <span class="displayCard-footer">
                                <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{video.id|get_Video_Upvotes}}</span>
                                <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{video.views}}</span>
                                <span class="px-2 flex-fill"><i class="fas fa-clock"></i> {{video.length|hms_format}}</span>
                            </span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if clipList != [] %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Clips</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-start">
                {% for clip in clipList %}
                <div class="displayCard py-1 pr-1">
                    <a href="/clip/{{clip.id}}">
                        <div>
                            <img class="shadow lazy zoom" {% if clip.recordedVideo.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                                onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="/videos/{{clip.thumbnailLocation}}">
                        </div>
                        <div class="card-data">
                            <div class="card-cut-text"><b>{{clip.clipName|limit_title}}</b></div>
                            <i class="fas fa-video mr-2"></i> {{clip.recordedVideo.channel.channelName}}<br>
                            <i class="fas fa-hashtag mr-2"></i> {{clip.recordedVideo.topic|get_topicName}}<br>
                            {% if clip.recordedVideo.channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                            <span class="displayCard-footer">
                                <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{clip.id|get_Clip_Upvotes}}</span>
                                <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{clip.views}}</span>
                                <span class="px-2 flex-fill"><i class="fas fa-clock"></i> {{clip.length|hms_format}}</span>
                            </span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if clipList == [] and channelList == [] and topicList == [] and streamerList == [] and videoList == [] and clipList == [] %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="col">
            <p>Nothing to see here.</p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}

{% endblock %}